body {
  margin: 25px 650px;
  padding: 25px 90px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
img {
  border-radius: 100px;
}

a:hover {
  font-size: larger;
  text-decoration: wavy;
}
